<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daroonapp.example">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="daroonApp"
            android:value="eyJpdiI6IkRnVElXM3Z2NlwvWUhmbmg0K3BJTmNRPT0iLCJ2YWx1ZSI6Im5kdXY0aVNnaXduYVV6ZSt2RjFGOWlSdXl2eElNOUhsWitteDFIV1NkTEQ0MHNDdWxjdzJmRTlHbE1GaUJyNm5Ga0M3MnJYZU9DYzRDT2R2eWZYTkxrTThMK0luYndhcHgrbVlYWFozOTlYUzl4QWNRQ20xOWxlc2VFck9DV2plIiwibWFjIjoiMmM5MTYxODliNTA2ZmRhMzVkMmQyN2JhZTA5ZjM2NmIxOWEyMWQ4MTM4ZjViM2Y2M2U0ZTNmNGMwNDgzMTk1MSJ9" />
        <activity android:name=".ResultActivity"></activity>
    </application>

</manifest>